src/main/resources/liquibase/change/ext/synonym/synonym.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.liquibase.org/xml/ns/dbchangelog-ext/synonym"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.liquibase.org/xml/ns/dbchangelog-ext/synonym">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[
	    Liquibase Extention to handle the generation of synonyms.
		]]></xsd:documentation>
    </xsd:annotation>

    <xsd:simpleType name="create_replace">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="create"/>
            <xsd:enumeration value="replace"/>
            <xsd:enumeration value="create_or_replace"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="createSynonym">
        <xsd:complexType>
            <xsd:attribute name="createReplace" type="create_replace" default="create_or_replace"/>
        </xsd:complexType>
    </xsd:element>



</xsd:schema>